@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #f1f1f1;
  color: #0f141e;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(81, 81, 207, 0.795);
  font-weight: 500;
}

.card_info-decoration {
  margin-right: 5px;
  margin-left: 5px;
}

.container {
  width: 720px;
}

.info {
  display: flex;
  margin-top: 10px;
}

.card_info-descr {
  margin-bottom: 25px;
}

.card_info-descr,
h1 {
  margin-bottom: 25px;
}

.card_info-title {
  color: rgba(99, 93, 93, 0.8);
  margin-bottom: 7px;
}

.img_width {
  width: 320px;
  margin: 0;
}

.info,
img {
  width: 100%;
  object-fit: cover;
}

.card_info-text p {
  font-style: italic;
  font-weight: 700;
  color: #86898f;
}

.card_info-text h1 {
  color: #e0ccad;
}

.card {
  /* border: 1px solid rgba(174, 172, 173, 0.8); */
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 7px;
}

.margin {
  margin-bottom: 7px;
}

.card,
h3 {
  margin-bottom: 7px;
}

.card,
table {
  display: block;
}

.table-width,
th {
  width: 150px;
  border: 1px solid grey;
}

.bkg-green {
  background-color: #9bd3b1b0;
}

.bkg-red {
  background-color: #ffb2b2b4;
}

.bkg-yellow {
  background-color: #cfd1669a;
}

.form_input,
input {
  width: 180px;
  border: 0;
  margin: 0;
}
